<link rel="stylesheet" href="/css/home.css">
<main>
    <section class="hero">
        <div class="hero-content">
            <h1>Discover the Finest Teas from Around the World</h1>
            <p>Explore our exquisite selection of teas that cater to every taste and preference.</p>
            <a href="/store" class="button add-btn">Shop Now</a>
        </div>
    </section>
    <section class="introduction">
        <div class="intro-container">
            <h2>Welcome to TeaTime</h2>
            <p>At TeaTime, we pride ourselves on offering a diverse range of high-quality teas sourced from the best regions around the world. Whether you're a tea enthusiast or a casual drinker, our selection has something for everyone.</p>
        </div>
    </section>

    <section class="featured-products">
        <div class="container">
            <h2>Featured Teas</h2>
            <div class="products-container">
                <% featuredProducts.forEach(function(product) { %>
                    <div class="product-card">
                        <div class="product-details">
                            <img src="<%= product.imageUrl %>" alt="<%= product.name %>" class="product-image">
                            <h2><%= product.name %></h2>
                            <p><%= product.description %></p>
                            <p>Price: $<%= product.price.toFixed(2) %></p>
                            <p>Category: <%= product.category %></p>
                        </div>
                        <div class="product-quantity">
                            <form action="/store/add-to-cart" method="POST">
                                <input type="hidden" name="productId" value="<%= product.id %>">
                                <div class="quantity-input">
                                    <label for="quantity-<%= product.id %>">Quantity:</label>
                                    <input type="number" id="quantity-<%= product.id %>" name="quantity" value="1" min="1">
                                </div>
                                <button class="button add-btn" type="submit">Add to Cart</button>
                            </form>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </section>

    <section class="newsletter">
        <div class="container">
          <h2>Stay Updated</h2>
          <p>Sign up for our newsletter to receive the latest news and special offers from TeaTime.</p>
          <form id="newsletterForm">
            <input type="email" name="email" placeholder="Enter your email" required>
            <button type="submit" class="button">Subscribe</button>
          </form>
          <p id="subscriptionMessage" style="display: none;"></p>
        </div>
      </section>
</main>

<script src="/js/home.js"></script>
