<main>
    <div class="search">
        <form action="/store/search" method="GET">
            <input type="text" id="searchInput" name="search" placeholder="Search teas..." value="<%= typeof searchTerm !== 'undefined' ? searchTerm : '' %>">
            <button type="submit">Search</button>
        </form>
    </div>

    <div id="products">
        <% products.forEach(function(product) { %>
            <div class="product">
                <div class="product-details">
                    <img src="<%= product.image %>" alt="<%= product.name %>" class="product-image">
                    <div>
                        <h2><%= product.name %></h2>
                        <p><%= product.description %></p>
                        <p>Price: $<%= product.price.toFixed(2) %></p>
                        <p>Category: <%= product.category %></p>
                    </div>
                </div>
                <div class="product-quantity">
                    <form action="/store/add-to-cart" method="POST">
                        <input type="hidden" name="productId" value="<%= product.id %>">
                        <label for="quantity-<%= product.id %>">Quantity:</label>
                        <input type="number" id="quantity-<%= product.id %>" name="quantity" value="1" min="1">
                        <button type="submit">Add to Cart</button>
                    </form>
                </div>
            </div>
        <% }); %>
    </div>
</main>
